
.vs/
build-Image-Size-Reduction-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/
build-Image-Size-Reduction-Desktop_Qt_6_4_0_MinGW_64_bit-Release/
build-Image-Size-Reduction-Desktop_Qt_6_4_0_MSVC2019_64bit-Debug/
build-Image-Size-Reduction-Desktop_Qt_6_4_0_MSVC2019_64bit-Release/
Image-Size-Reduction/debug/
Image-Size-Reduction/release/
x64/Debug/
x64/Release/
Cpp-Lib/x64/Debug/
Cpp-Lib/x64/Release/
